<div class="d-flex align-items-center">
  <div class="row flex-center pt-5 mt-3">
    <app-child-listado-add-user
      [(userList)]="listado"
      [(newUser)]="newUser"
      [(quieroEditar)]="quieroEditar"
      [(editUser)]="editUser"
    ></app-child-listado-add-user>
  </div>
  <div class="col-md-6 col-xl-5 offset-xl-1">
<!--Table listado-->
<table class="table">
  <!--Table head-->
  <thead class="info-color-dark">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Description</th>
    <th (click)="filter=''">Group <i class="fa fa-filter prefix white-text"></i></th>
    <th>Borrar</th>
    <th>Modificar</th>
  </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody *ngIf="listado" class="info-color text-white">
  <tr *ngFor="let user of listado | group:filter; let i= index">
    <td>{{i+1}}</td>
    <td>{{user.name}}</td>
    <td>{{user.desc}}</td>
    <td (click)="filter=user.group">{{user.group}} <i class="fa fa-filter prefix white-text"></i></td>
    <td (click)="listado.splice(i,1);filter=''">Borrar <i class="fa fa-trash prefix"></i></td>
    <td (click)="edit(i)">Modificar <i class="fa fa-eye prefix"></i></td>
  </tr>
  </tbody>
  <!--Table body-->
</table>
  </div>
<!--Table-->
</div>

<app-modal [(isModalShown)]="isModalShown"></app-modal>
