<div class="d-flex align-items-center">
  <div class="row flex-center pt-5 mt-3">
    <div class="col-md-6 text-center text-md-left mb-5">
      <div class="white-text">
        <h1 class="display-4 wow fadeInLeft" data-wow-delay="0.7s">Gestor Usuarios</h1>
        <hr class="hr-light wow fadeInLeft" data-wow-delay="0.7s">
        <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Aplicación basada en Angular2 con la que poder gestionar una agenda simple de contactos.</h6>
      </div>
    </div>

    <div class="col-md-6 col-xl-5 offset-xl-1">
      <!--Form-->
      <div class="card wow fadeInRight" data-wow-delay="0.3s">
        <div class="card-body z-depth-2">
          <!--Header-->
          <div class="text-center">
            <h3>Login:</h3>
            <hr>
          </div>

          <!--Body-->
          <form (ngSubmit)="onSubmit()">
            <div class="md-form">
              <i class="fa fa-user prefix grey-text"></i>
              <input type="text" id="name" name="name" [(ngModel)]="user.user" class="form-control" mdbActive>
              <label for="name">Usuario</label>
            </div>
            <div class="md-form">
              <i class="fa fa-key prefix grey-text"></i>
              <input type="password" id="pass" name="pass" [(ngModel)]="user.password" class="form-control" mdbActive>
              <label for="pass">Contraseña</label>
            </div>
            <div class="text-center">
              <button type="submit" class="btn peach-gradient waves-light" mdbRippleRadius>Entrar</button>
              <hr>
            </div>
          </form>
        </div>
      </div>
      <!--/.Form-->
    </div>
  </div>
</div>
<app-modal [(isModalShown)]="isModalShown"></app-modal>
