<!--Form-->
<div class="card">
  <div class="card-body z-depth-2">
    <!--Header-->
    <div class="text-center">
      <h3 *ngIf="!quieroEditar">Crear usuario</h3>
      <h3 *ngIf="quieroEditar">Editar usuario</h3>
      <hr>
    </div>

 <form (ngSubmit)="onSubmit()">
   <div class="row">
     <div class="col">
       <div class="md-form">
         <i class="fa fa-user prefix grey-text"></i>
         <input type="text" id="name" name="name" [(ngModel)]="newUser.name" class="form-control" mdbActive>
         <label for="name">User name</label>
       </div>
     </div>
     <div class="col">
       <div class="md-form">
         <i class="fa fa-info prefix grey-text"></i>
         <input type="text" id="desc" name="desc" [(ngModel)]="newUser.desc" class="form-control" mdbActive>
         <label for="desc">Description</label>
       </div>
     </div>
     <div class="col">
       <div class="md-form">
         <i class="fa fa-group prefix grey-text"></i>
         <input type="text" id="group" name="group" [(ngModel)]="newUser.group" class="form-control" mdbActive>
         <label for="group">Group</label>
       </div>
       <div class="text-center">
         <button *ngIf="!quieroEditar" type="submit" class="btn waves-light" mdbRippleRadius>Añadir</button>
         <button *ngIf="quieroEditar" type="button" (click)="updateUSer()" class="btn waves-light" mdbRippleRadius>Editar</button>

       </div>
     </div>
   </div>




</form>
  </div>
</div>
