<header>
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <logo>
      <a class="logo navbar-brand waves-light" mdbRippleRadius href="#"><strong>DyCare</strong></a>
    </logo>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbRippleRadius>
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>

      </ul>

    </links>
  </mdb-navbar>

  <section class="view intro-2 hm-stylish-strong">
    <div class="full-bg-img">
      <div class="container flex-center">
        <router-outlet></router-outlet>
      </div>
    </div>
  </section>

</header>

<!--Main Navigation-->
